.pipeContainer {
    position: absolute;
    
    bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: movePipe 7s linear infinite;
    width: 100px;
}

.pipe {
    width: 75%;
}

.gap {
    flex-grow: 1;
    height: 20vh;
}

/* .topPipe, .bottomPipe {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
} */

.pipeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@keyframes movePipe {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100%);
    }
}
