.backgroundContainer {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/Background/background-day.png'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    position: relative; 
    overflow: hidden;
    /* animation: moveBack 3s linear infinite; */
}
/* @keyframes moveBack {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
} */

.gameOverContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}